.text {
	overflow: overlay;
	padding: 20px;
	background-color: #aaf6ff;
	border-radius: 15px;
	position: relative;
	max-width: 850px;
	margin: auto;
	top: 50px;
}

#code {
	font-size: 30px;
	text-align: center;
	display: inline-block;
	background-color: #008cff;
	border-radius: 10px;
	padding: 5px;
}

#font {
	font-size: 30px;
	position: relative;
	top: -20px;
}
