.text {
	overflow: overlay;
	padding: 20px;
	background-color: #aaf6ff;
	border-radius: 15px;
	position: relative;
	top: 50px;
	max-width: 850px;
	margin: auto;
}

#font {
	font-size: 30px;
	position: relative;
}

#math {
	font-size: 30px;
	display: inline-block;
	background-color: white;
	border-radius: 10px;
	padding: 5px;
}

#butt {
	font-size: 30px;
	text-align: center;
	display: inline-block;
	background-color: #008cff;
	border-radius: 10px;
	padding: 5px;
}

#span {
	font-size: 40px;
	background-color: white;
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	position: relative;
	top: 5px;
}
