.text {
	height: 730px;
	padding: 20px;
	background-color: #aaf6ff;
	border-radius: 15px;
	max-width: 850px;
	margin: auto;
	position: relative;
	top: 50px;
}

.font {
	font-size: 30px;
    position: relative;
	top: -50px;
	max-width: 1000px;
	margin: auto;
}