body {
	background-color: #0c0032;
}

.rectangle {
	height: 100px;
	max-width: 1000px;
	margin: auto;
	background-color: #0062b2;
	border-radius: 15px;
}

#home {
	font-size: 50px;
	text-align: center;
	position: relative;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
	color: black;
	left: 20px;
	top: 15px;
}

#about {
	font-size: 50px;
	text-align: center;
	position: relative;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
	color: black;
	top: 15px;
	left: 60px;
}

#name {
	font-size: 50px;
	position: relative;
	background-color: #0c0032;
	padding: 5px;
	border-radius: 10px;
	color: white;
	top: 15px;
	left: 150px;
}

#code {
	font-size: 30px;
	text-align: center;
	display: inline-block;
	background-color: #008cff;
	border-radius: 10px;
	padding: 5px;
}

.text {
	height: 700px;
	padding: 20px;
	background-color: #aaf6ff;
	border-radius: 15px;
	max-width: 850px;
	margin: auto;
	position: relative;
	top: 50px;
}

#font {
	font-size: 30px;
	top: -10px;
	max-width: 1000px;
	margin: auto;
}
