body {
    background-color: #0C0032;
}

.rectangle{
    height: 100px;
    width: 1000px;
    background-color: #0062B2;
}


#home{
    font-size: 50px;
    text-align: center;
    position: relative;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    color: black;
    left: 20px;
    top: 15px;
}

#about{
    font-size: 50px;
    text-align: center;
    position: relative;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    color: black;
    top: 15px;
    left: 60px;
}

#name {
    font-size: 50px;
    position: relative;
    background-color: #0C0032;
    padding: 5px;
    border-radius: 10px;
    color: white;
    top: 15px;
    left: 150px;
}

 
.text{
    height: 700px;
    width: 850px;
    padding: 20px;
    background-color: #AAF6FF;
    border-radius: 15px;
    position: absolute;
    top: 150px;
    left: 60px;
}


#font {
    font-size: 30px;
    position: relative;
    top: -20px;
}

#math {
    font-size: 30px;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

#butt {
    font-size: 30px;
    text-align: center;
    display: inline-block;
    background-color: #008CFF;
    border-radius: 10px;
    padding: 5px;
}

#span {
    font-size: 30px;
    background-color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}